Repository squirrel-labs/ratatosk, pull requests merged in 2020-02, with the labels that each got.

#34 Drone CI
  .drone.yml
  Cargo.toml
  Makefile.toml
  README.md
  client/Makefile.toml
  client/graphics/Cargo.toml
  client/graphics/src/graphics.rs
  client/logic/Cargo.toml
  client/logic/src/lib.rs
  client/shared/Cargo.toml
  client/shared/src/double_buffer.rs
  client/shared/src/lib.rs
  client/shared/src/texture.rs
  scripts/cargo-helpers.toml
  scripts/serve_no_cache.py
  shell.nix
  tools/atomify/Cargo.toml
  tools/atomify/build
  tools/atomify/src/main.rs
Labels: infra

#44 Implement game engine
  .drone.yml
  .gitignore
  Cargo.lock
  scripts/cargo-helpers.toml
Labels: engine, help wanted

#45 Update rask-engine
  client/graphics/Cargo.toml
  client/logic/Cargo.toml
  client/shared/Cargo.toml
  rask-engine/Cargo.toml
  rask-engine/src/boxes.rs
  rask-engine/src/collide.rs
  rask-engine/src/lib.rs
  rask-engine/src/math/mat2.rs
  rask-engine/src/math/mat3.rs
  rask-engine/src/math/mod.rs
  rask-engine/src/math/vec2.rs
  rask-engine/src/math/vec3.rs
  rask-engine/src/math_simd/vec2.rs
  rask-engine/tests/mat2.rs
  rask-engine/tests/mat3.rs
  rask-engine/tests/vec2.rs
  rask-engine/tests/vec3.rs
  tools/bone-cake/Cargo.toml
Labels: engine
